<%= form_for([@deust, @semester]) do |f| %>
  <% if @semester.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@semester.errors.count, "error") %> prohibited this @semester from being saved:</h2>

      <ul>
      <% @semester.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
  	<%= f.label :nom %>
    <%= f.text_field :name %>
  </div>

  <div class="actions">
    <%= f.submit class: "btn btn-md" %>
  </div>
<% end %>
