
<!-- Home Section -->

<section id="home" class="main-home parallax-section">
     <div class="container">
          <div class="row">

               <div class="col-md-12 col-sm-12">
                    <h1>Univercours</h1>
                    <h5>contient plus que <%= Post.count %> cours, tds et ccs</h5>
               </div>
    

          </div>
     </div>
</section>


<section id="counter" class="counter">
<div class="container-fluid">
    <div class="row">
        <div class="main_counter sections">
            <div class="single_left_counter_bg">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="single_counter_left">
                        <h2> <br />  <br /></h2>
                    </div>
                </div>
            </div>
            <div class="col-md-7 col-sm-12 col-xs-12">
                <div class="single_counter_right_area text-center">
                    <div class="row">
                        <div class="col-md-4 col-sm-12">
                            <div class="single_counter_right">
                                <i class="fa fa-arrow-up"></i>
                                <h2 class="statistic-counter"><%= Deust.count %></h2>
                                <p>FILIERE</p>
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-12">
                            <div class="single_counter_right">
                                <i class="fa fa-book"></i>
                                <h2 class="statistic-counter"><%= Matiere.count %></h2>
                                <p>MODULES</p>
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-12">
                            <div class="single_counter_right">
                                <i class="fa fa-file"></i>
                                <h2 class="statistic-counter"><%= Post.count %></h2>
                                <p>COURS/TDS/CCS/TP</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</section>




<div class="container" style="margin-top:70px;">
    <div class="row">
        <% Deust.all.each do |deust| %>
            <% if deust.name != "Livres" %>
            <h5 class="heading-agileinfo2"><%= deust.name %></h5>
            <div class="row">
                <% deust.semesters.each do |semester| %>
                    <div class="col-md-3 col-sm-3">
                    <h4 class="heading-agileinfo3"><%= semester.name %></h4>
                    <% semester.matieres.each do |matiere| %>
                        <ul class="cart-list" style="margin-bottom: 30px;">
                                <li>
                                    <a href="#" class="photo"><%= image_tag matiere.image.url(:thumb) %></a>
                                    <h6><%= link_to matiere.name, deust_matiere_path(matiere.deust, matiere) %></h6>
                                </li>
                        </ul>
                    <% end %>
                    </div>
                <% end %>     
            </div>
            <% end %>
        <% end %>
    </div>
</div>
