<% provide(:title, "download") %>
<div class="container" style="padding-top: 80px;">
	<div class="row">
		<div class="col-md-8">
		<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
		<!-- text ad -->
		<ins class="adsbygoogle"
			 style="display:block"
			 data-ad-client="ca-pub-7690261265789990"
			 data-ad-slot="2631672705"
			 data-ad-format="auto"
			 data-full-width-responsive="true"></ins>
		<script>
		(adsbygoogle = window.adsbygoogle || []).push({});
		</script>
			<h5 class="heading-agileinfo1 text-left">
			<%= link_to deust_path(@deust) do %>
				<%= @post.deust.name %> 
			<% end %> / <%= link_to deust_path(@deust) do %>
				<%= @post.matiere.semester.name %> 
			<% end %> / <%= link_to deust_matiere_path(@deust, @matiere) do %>
				<%= @post.matiere.name %>
			<% end %></h5>
	      	<h3 class="heading-agileinfo text-left"><%= @post.name %></h3>

				
				<div class="text-center">
				<div class="ad-frame">
				<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
				<!-- download -->
				<ins class="adsbygoogle"
					style="display:inline-block;width:300px;height:250px"
					data-ad-client="ca-pub-7690261265789990"
					data-ad-slot="3460029445"></ins>
				<script>
				(adsbygoogle = window.adsbygoogle || []).push({});
				</script>
				</div>
					<% if @post.download_link.presence %>
					<%= link_to "Télecharger", "http://sh.st/st/8b96b1790166de37ed48f960e2d85b1c/univercours.com#{@post.download_link}", target: "_blank", class: "btn btn-md" %>
					<% end %>
					<div class="ad-frame">
					<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
					<!-- download -->
					<ins class="adsbygoogle"
						 style="display:inline-block;width:300px;height:250px"
						 data-ad-client="ca-pub-7690261265789990"
						 data-ad-slot="3460029445"></ins>
					<script>
					(adsbygoogle = window.adsbygoogle || []).push({});
					</script>
				</div>
				</div>
			  <!-- ad1 -->
                <ins class="adsbygoogle"
                    style="display:block"
                    data-ad-client="ca-pub-7690261265789990"
                    data-ad-slot="8002102239"
                    data-ad-format="auto"
                    data-full-width-responsive="true"></ins>
                <script>
                (adsbygoogle = window.adsbygoogle || []).push({});
            	</script>
		</div>
		<div class="col-md-4 text-center">
			<div class="portfolio_btn_area text-center">
				<!-- text / image responsive -->
				<ins class="adsbygoogle"
					style="display:block"
					data-ad-client="ca-pub-7690261265789990"
					data-ad-slot="1471753835"
					data-ad-format="auto"
					data-full-width-responsive="true"></ins>
				<script>
				(adsbygoogle = window.adsbygoogle || []).push({});
				</script>
				<h5 style="font-family: 'Indie Flower', cursive;">Partagez univercours avec vous amis</h5>
				<%= social_share_button_tag('Share to Facebook', :url => deust_matiere_post_path(@deust, @matiere, @post), desc: @post.name) %>
				<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>

				<%= link_to "retour", deust_matiere_post_path(@deust, @matiere, @post), class: "btn btn-md" %>
				<% if session[:user_id] %>
					<%= link_to "nouveau pdf", new_deust_matiere_post_pdf_path(@deust, @matiere, @post), class: "btn btn-md" %>
					<%= link_to "nouveau image", new_deust_matiere_post_image_path(@deust, @matiere, @post), class: "btn btn-md" %>
				<%	 end %>
				<ul class="cart-list">
				<% @post.matiere.semester.matieres.each do |matiere| %>
					<li>
						<a href="#" class="photo"><%= image_tag matiere.image.url(:thumb) %></a>
						<h6><%= link_to matiere.name, deust_matiere_path(matiere.deust, matiere) %></h6>
						</li>
				<% end %>
				</ul>
			</div>

		</div>
    </div>

</div>
