<% provide(:title, "#{@post.name}") %>


<div class="container" style="padding-top: 80px;">

	

	<div class="row">
	
		<div class="col-md-7">
			<h5 class="heading-agileinfo1 text-left">
			<%= link_to deust_path(@deust) do %>
				<%= @post.deust.name %> 
			<% end %> / <%= link_to deust_path(@deust) do %>
				<%= @post.matiere.semester.name %> 
			<% end %> / <%= link_to deust_matiere_path(@deust, @matiere) do %>
				<%= @post.matiere.name %>
			<% end %></h5>
	      <h3 class="heading-agileinfo text-left"><%= @post.name %></h3>

	      <div class="text-left">
	      <% @post.pdfs.each do |pdf| %>
			<iframe src=<%= pdf.link %> width="640" height="480"></iframe>
		  <% end %>
	  	  </div>


		    	

		      	<div class="gallery-grids">
		      		<% @post.images.each_slice(4) do |images| %>
		        		<div class="row">
		          			<% images.each do |image| %>
		          				<div class="col-sm-3 col-xs-6 gallery-grid mix cat1" style="margin-bottom: 30px;">
		          						<%= link_to image.image.url, :rel => "prettyPhoto" do %>
		              					<%= image_tag image.image.url(:large), class: "gallery-image" %>
		              					<% end %>
		              					<div class="figcaption">
		              					</div> 
		          				</div> 
		          			<% end %>
		         		</div>
		         	<% end %>
		      	</div>



		</div>
		<div class="col-md-5">
		  	       <div class="portfolio_btn_area text-center">
		  	       		<h5 style="font-family: 'Indie Flower', cursive;">Partagez la publication avec vous amis</h5>
		  	       		<%= social_share_button_tag('Share to Facebook', :url => deust_matiere_post_path(@deust, @matiere, @post), desc: @post.name) %>
			            <%= link_to "Retour", deust_matiere_path(@deust, @matiere), class: "btn btn-md" %>
			            <% if session[:user_id] %>
							<%= link_to "Nouveau pdf", new_deust_matiere_post_pdf_path(@deust, @matiere, @post), class: "btn btn-md" %>
							<%= link_to "Nouveau image", new_deust_matiere_post_image_path(@deust, @matiere, @post), class: "btn btn-md" %>
						<% end %>
		            </div>

		            <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
					<!-- univercours_ad1 -->
					<ins class="adsbygoogle"
					     style="display:block"
					     data-ad-client="ca-pub-7690261265789990"
					     data-ad-slot="2508965038"
					     data-ad-format="auto"></ins>
					<script>
					(adsbygoogle = window.adsbygoogle || []).push({});
					</script>
		</div>
	</div>
	<% if @matiere.posts.count > 1 %>
      	<h5 style="margin-top: 20px"><%= @post.matiere.name %></h5>
		<% @matiere.posts.order("created_at DESC").each do |post| %>
			<% if post.name != @post.name %>
		        <%= link_to deust_matiere_post_path(@deust, @matiere, post) do %>
		            <p style="font-size: 20px; margin-top: 10px; margin-bottom: 10px"><%= post.name %></p>
		        <% end %>
		    <% end %>
        <% end %>
    <% end %>
</div>
