<% provide(:title, "#{@post.name}") %>

<div class="container" style="padding-top: 80px;">
	<div class="row">
		<div class="col-md-8">
			<h5 class="heading-agileinfo1 text-left">
			<%= link_to deust_path(@deust) do %>
				<%= @post.deust.name %> 
			<% end %> / <%= link_to deust_path(@deust) do %>
				<%= @post.matiere.semester.name %> 
			<% end %> / <%= link_to deust_matiere_path(@deust, @matiere) do %>
				<%= @post.matiere.name %>
			<% end %></h5>
	      	<h3 class="heading-agileinfo text-left"><%= @post.name %></h3>

	      	<div class="text-left">
	      	<% @post.pdfs.each do |pdf| %>
				<iframe src=<%= pdf.link %> width="640" height="480"></iframe>
		  	<% end %>
	  		</div>	
		</div>
		<div class="col-md-4" style="margin-top: 70px">
            <div class="socials">
            <a href="https://www.facebook.com/univercourscom/" target="_blank"><i class="fa fa-facebook"></i></a>
            <a href="#" target="_blank"><i class="fa fa-instagram"></i></a>
            <a href="#" target="_blank"><i class="fa fa-twitter"></i></a>
            <a href="#" target="_blank"><i class="fa fa-youtube"></i></a>
            </div>
            <% @post.deust.posts.last(10).each do |post| %>
                <div class="col-md-12 col-sm-12 col-xs-12 gallery-grid mix <%= post.category.name.last(6) %>" style="padding: 0px 50px 0px 50px;">
                    <%= link_to deust_matiere_post_path(post.deust, post.matiere, post) do %>
                    	<p style="margin-top: 10px; margin-bottom: 10px"><%= post.name %></p>
                    <% end %>
                </div>
            <% end %>
        </div>
	</div>
	<% if @matiere.posts.count > 1 %>
      	<h5 style="margin-top: 20px"><%= @post.matiere.name %></h5>
		<% @matiere.posts.order("created_at DESC").each do |post| %>
			<% if post.name != @post.name %>
		        <%= link_to deust_matiere_post_path(@deust, @matiere, post) do %>
		            <p style="font-size: 20px; margin-top: 10px; margin-bottom: 10px"><%= post.name %></p>
		        <% end %>
		    <% end %>
        <% end %>
    <% end %>
</div>
