<% provide(:title, "#{@matiere.name}") %>
<div class="container">
    <div class="row">
        <div class="col-md-8" >
            <div id="lab" class="w3ls-section gallery">
                <h5 class="heading-agileinfo" style="color: #223d61;"><%= @matiere.deust.name %> / <%= @matiere.name %></h5>
                <div class="main_mix_menu">
                    <ul>
                        <li class="btn btn-primary filter" data-filter="all" style="border-radius: 0px;">tous</li>
                        <% @categories.each do |category| %>
                            <% if category.posts.where(matiere_id: @matiere.id).presence %>
                                <li data-filter=".<%= category.name.last(6) %>" class="btn btn-primary filter" style="border-radius: 0px;"><%= category.name %></li>
                            <% end %>
                        <% end %> 
                     </ul>
                </div>
                <div id="mixcontent" class="mixcontent">
                        <div class="row">
                                <div class="side1">         
                                        <div class="widget">
                                            <ul class="link">
                                            <% @matiere.posts.all.each do |post| %>
                                                <%= link_to deust_matiere_post_path(@deust, @matiere, post) do %>
                                                    <div class="mix <%= post.category.name.last(6) %>">
                                                        <li><%= link_to post.name, deust_matiere_post_path(@deust, @matiere, post) %></li>
                                                    </div>
                                                <% end %>
                                            <% end %>
                                            </ul>
                                        </div>
                                </div>       
                        </div>
                </div>
            </div>  
        </div>
        <div class="col-md-4" style="margin-top: 80px">
        <!-- text / image responsive -->
				<ins class="adsbygoogle"
					style="display:block"
					data-ad-client="ca-pub-7690261265789990"
					data-ad-slot="1471753835"
					data-ad-format="auto"
					data-full-width-responsive="true"></ins>
				<script>
				(adsbygoogle = window.adsbygoogle || []).push({});
				</script>
            <div class="portfolio_btn_area text-center">
                <%= link_to "retour", deust_path(@deust), class: "btn btn-md" %>
            </div>
            <ul class="cart-list">
			<% @matiere.semester.matieres.each do |matiere| %>
				<li>
					<a href="#" class="photo"><%= image_tag matiere.image.url(:thumb) %></a>
					<h6><%= link_to matiere.name, deust_matiere_path(matiere.deust, matiere) %></h6>
					</li>
			<% end %>
			</ul>
        </div>
    </div>
</div>


