<% provide(:title, "#{@matiere.name}") %>
    <div class="container">
        <div class="row">
            <div class="col-md-8" >
                
                <div id="lab" class="w3ls-section gallery">
                <!-- ad1 -->
                <ins class="adsbygoogle"
                    style="display:block"
                    data-ad-client="ca-pub-7690261265789990"
                    data-ad-slot="8002102239"
                    data-ad-format="auto"
                    data-full-width-responsive="true"></ins>
                <script>
                (adsbygoogle = window.adsbygoogle || []).push({});
            	</script>
                        <h5 class="heading-agileinfo" style="color: #223d61;"><%= @matiere.deust.name %> / <%= @matiere.name %></h5>
                        <div class="main_mix_menu">
                            <ul>
                            <li class="btn btn-primary filter" data-filter="all" style="border-radius: 0px;">tous</li>
                            <% @categories.each do |category| %>
                                <% if category.posts.where(matiere_id: @matiere.id).presence %>
                                <li data-filter=".<%= category.name.last(6) %>" class="btn btn-primary filter" style="border-radius: 0px;"><%= category.name %></li>
                                <% end %>
                            <% end %> 
                            </ul>
                        </div>
                        <div id="mixcontent" class="mixcontent">
                            <div class="gallery-grids">
                                <% if session[:user_id] %>
                                    <%= link_to "Nouveau post", new_deust_matiere_post_path(@deust, @matiere) %>
                                <% end %>
                                <div class="row">
                                    <% @matiere.posts.order("created_at DESC").each do |post| %>
                                        <div class="col-md-6 col-sm-6 col-xs-6">
                                            <%= link_to deust_matiere_post_path(@deust, @matiere, post) do %>
                                                <div class="post-home gallery-grid mix <%= post.category.name.last(6) %>">
                                                    <% if post.pdfs.presence %>
                                                        <iframe src=<%= post.pdfs.first.link %> width="240" height="240"></iframe>
                                                    <% end %>
                                                    <p><%= post.name %></p>
                                                </div>
                                            <% end %>
                                        </div>
                                    <% end %>
                                </div>
                            </div> 
                        </div>
                </div>  
                <!-- ad1 -->
                <ins class="adsbygoogle"
                    style="display:block"
                    data-ad-client="ca-pub-7690261265789990"
                    data-ad-slot="8002102239"
                    data-ad-format="auto"
                    data-full-width-responsive="true"></ins>
                <script>
                (adsbygoogle = window.adsbygoogle || []).push({});
                </script>
            </div>
            <div class="col-md-4" style="margin-top: 80px">
                <!-- text / image responsive -->
                <ins class="adsbygoogle"
                    style="display:block"
                    data-ad-client="ca-pub-7690261265789990"
                    data-ad-slot="1471753835"
                    data-ad-format="auto"
                    data-full-width-responsive="true"></ins>
                <script>
                (adsbygoogle = window.adsbygoogle || []).push({});
                </script>
                <div class="portfolio_btn_area text-center">
                    <%= link_to "retour", deust_path(@deust), class: "btn btn-md" %>
                </div>
                <div class="ad-unit1">
                <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
                <!-- text-ads-only -->
                <ins class="adsbygoogle"
                    style="display:block"
                    data-ad-client="ca-pub-7690261265789990"
                    data-ad-slot="1903118154"
                    data-ad-format="auto"
                    data-full-width-responsive="true"></ins>
                <script>
                (adsbygoogle = window.adsbygoogle || []).push({});
                </script>
                </div>
                <% @matiere.posts.last(10).each do |post| %>
                    <div class="col-md-12 col-sm-12 col-xs-12 gallery-grid mix <%= post.category.name.last(6) %>" style="padding: 0px 50px 0px 50px;">
                        <%= link_to deust_matiere_post_path(post.deust, post.matiere, post) do %>
                        <p style="margin-top: 10px; margin-bottom: 10px"><%= post.name %></p>
                        <% end %>
                    </div>
                <% end %>
            </div>
        </div>
    </div>
